/*Estilos propios*/
#search{
  display: none;
}

#generalResults{
  display: none;
}

button{
  border: none;
  text-align: center;
  background: #ffc107;
  color: black;
}

@media (max-width: 991px) {

  .navbar{
    background-color: #ffc107;
  }

  #logo {
    display: none;
  }

  .navbar-toggler{
    background-color: #ffc107;
  }

  #navbarNavAltMarkup{
    background-color: #ffc107;
  }
}

.menu{
  margin: 3px;
  padding: 3px;
}

h4{
  color: #999999;
  text-transform: uppercase;
}

#nameList{
  border: #999999 1px solid;
}